services:
  db:
    image: mariadb:latest
    command: "--default-authentication-plugin=mysql_native_password"
    volumes:
      - ./data/db_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=ts
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin1234
    ports:
      - "3306:3306"
    networks:
      - monitoring_network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./data/prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    restart: always
    ports:
      - "9090:9090"
    networks:
      - monitoring_network

  mariadb-exporter:
    image: prom/mysqld-exporter
    environment:
      - DATA_SOURCE_NAME=exporter:exporter_pass@(db:3306)/
    ports:
      - "9104:9104"
    depends_on:
      - db
    networks:
      monitoring_network:
        aliases:
          - mariadb-exporter

  grafana:
    image: grafana/grafana:latest
    volumes:
      - ./data/grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - monitoring_network

volumes:
  db_data:
  prometheus_data:
  grafana_data:

networks:
  monitoring_network:
    driver: bridge
